# Please set the following variables in a vault.
# Please use strong passwords and consider using a key manager like `pass` or `keypassx`

backups_role_postgresql_user_passwd: "seraph babylon humanely boccie compeer revers"

backups_role_b2_app_key_id: "00f00ba12bebo000000000023"
backups_role_b2_app_key: "uyoWyGV8ueNUW0ea98fkPAN1CxMKijK"

backups_role_restic_repo_url: "b2:unique-bucket-name:path/to/restic/repo/inside/the/bucket"
backups_role_restic_repo_password: "rwqlenwhat7a7rand0m7passw0rd7ss2"
