#!/bin/bash

# Exit with error code 1 if any command fails
set -e

# Remove temporal directory
function clean {
  rm -rf "{{ backups_role_tmp_path }}"
}

# Set up an exit trap to delete temporal directory
#+ even if there are errors before exiting.
trap clean EXIT

# Create temporal directory
mkdir -p "{{ backups_role_tmp_path }}"

# Execute scripts in chain if error code is ok
{{ backups_role_script_prepare }} && {{ backups_role_script_upload }}
