#!/bin/bash

# Exit with error code 1 if any command fails
set -e

# Clone standard output to standard error
#+ This way we have titles and datetimes in both outputs: err and out
#+ and therefore error messages appear within a context.
#+ In Linux this is equivalent to /dev/std{out,err}
#+ that sounds more intuitive, but it's not as portable.
#+ See https://unix.stackexchange.com/a/123659

# Use `tee -a` to append error logs instead of overwritting
# It is interpreted before the later append stderr redirection `2>>`
#+ Example:
#+     for i in 1 2 3; do { date | tee /dev/fd/2; } >> out.log 2>> err.log ; done
#+ err.log has only one line, while out.log has three.

function title {
  echo -e "\n## $1 ##" | tee -a /dev/fd/2;
  date | tee -a /dev/fd/2;
}

# NOTE
# This script is meant to be executed by a very limited sudoer user.
# It must be allowed to only execute `tar -czvf *` as root,
# meaning that it can't uncompress, add options, or even change the options order.
# This is a way to give to this user read-only access to whole filesystem.

# Backup git revision
# pushd /home/git_repo/current
# git rev-parse --verify HEAD > {{ backups_role_tmp_path }}/git_rev
# popd

title "Postgres DB dump"
/usr/bin/pg_dump --encoding=UTF8 {{ backups_role_db_name }} > {{ backups_role_tmp_path }}/pg_dump
echo "...done"

title "Compress configuration files"
sudo tar -czvf {{ backups_role_tmp_path }}/config.tar.gz {{ backups_role_config_paths|join(' ') }}
echo "...done"

title "Compress assets data"
sudo tar -czvf {{ backups_role_tmp_path }}/assets.tar.gz {{ backups_role_assets_paths|join(' ') }}
echo "...done"
