#!/bin/bash

# Exit with error code 1 if any command fails
set -e

# NOTE
# This script is meant to be executed by a very limited sudoer user.
# It must be allowed to only execute `tar -czvf *` as root,
# meaning that it can't uncompress, add options, or even change the options order.
# This is a way to give to this user read-only access to whole filesystem.

# Backup git revision
# pushd /home/git_repo/current
# git rev-parse --verify HEAD > {{ backups_role_tmp_path }}/git_rev
# popd

echo "
######################
## Postgres DB dump ##
######################"
/usr/bin/pg_dump --encoding=UTF8 {{ backups_role_db_name }} > {{ backups_role_tmp_path }}/pg_dump
echo "...done"

echo "
##################################
## Compress configuration files ##
##################################"
sudo tar -czvf {{ backups_role_tmp_path }}/config.tar.gz {{ backups_role_config_paths|join(' ') }}
echo "...done"

echo "
##########################
## Compress assets data ##
##########################"
sudo tar -czvf {{ backups_role_tmp_path }}/assets.tar.gz {{ backups_role_assets_paths|join(' ') }}
echo "...done"
