#!/bin/bash

# Exit with error code 1 if any command fails
set -e

# See cron-prepare.sh for an explanation of this function
function title {
  echo -e "\n## $1 ##" | tee -a /dev/fd/2;
  date | tee -a /dev/fd/2;
}

title "Restic backup"
restic backup \
  {% if backups_role_script_prepare_template == "cron-prepare.sh.j2" %}
	{{ backups_role_tmp_path }}/pg_dump \
	{{ backups_role_tmp_path }}/config.tar.gz \
  {% endif %}
	{{ backups_role_assets_paths|join(' ') }}

echo "...done"

title "Restic forget"
restic forget --keep-last 5 --prune
echo "...done"

title "Restic check"
restic check
echo "...done"
